.foodMenu__pic {
    width: 100px;
    height: 100px;
}

.foodMenu__item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed;
}

.quantity {
    width: 10px;
}