* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .drinksMenu {
      &__pic {
          width: 50px;
          height: 50px;
        flex: 1;
        max-width: 100%;
      }
      &_item-container {
        display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
      }
      &__name-price {
        flex: 3;
        padding: 0 10px;
      }
      &__checkbox {
        flex: 1;
     }
     
  }




